* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #efc3a5;
    color: #333;
}

.container {
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background: #63abeb;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #660000;
    font-family: 'Pacifico', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header p {
    margin-top: 10px;
}

/* Navigation Styles */
nav {
    background: #6a47ad;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main Styles */
main {
    padding: 20px 0;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.grid-item {
    flex: 1 0 calc(50% - 20px);
    background: #fff;
    padding: 20px;
    border: 1px solid #eaeaea;
}

/* Table Layout */
.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.table-item {
    flex: 1 0 calc(50% - 20px);
    background: #fff;
    padding: 20px;
    border: 1px solid #eaeaea;
}

/* Ensure table occupies full width */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Ensure table cells have padding */
table td, table th {
    padding: 8px;
    border: 1px solid #ddd; /* Add border for better visibility */
}

/* Regular style: 4 columns */
.table-item table {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Align items vertically */
}

.table-item table tr {
    width: 100%; /* Each row takes up full width */
    display: flex;
    flex-wrap: wrap;
}

.table-item table th {
    flex: 1 0 25%; /* Each column occupies 25% of the row */
    padding: 8px;
    border: 1px solid #ddd; /* Add border for better visibility */
}

.table-item table td {
    flex: 1 0 25%; /* Each column occupies 25% of the row */
    padding: 8px;
    border: 1px solid #ddd; /* Add border for better visibility */
}

/* Tablet style: 2 columns */
@media screen and (max-width: 960px) {
    .table-item table th,
    .table-item table td {
        flex: 1 0 50%; /* Each column occupies 50% of the row */
    }
}

/* Mobile style: 1 column */
@media screen and (max-width: 640px) {
    .table-item table th,
    .table-item table td {
        flex: 1 0 100%; /* Each column occupies 100% of the row */
    }
}

/* Footer Styles */
footer {
    background: #6a47ad;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}